<div class="top-menu">
  <div class="top-menu-container">
    <ul class="menu-items">
      <li class="menu-item"><a class="menu-link" (click)="navegaParaIntrucoes()">Instruções</a></li>
      <li class="menu-item"><a class="menu-link" (click)="navegaParaCodigo()">Codigo</a></li>
    </ul>
  </div>
</div>

<div class="content container-100" style="height: 300px;">

  @if(exibeInstrucoes){
    <div id="card-instrucao" class="card" *ngIf="exibeInstrucoes">
      <div class="card-content">
        <h3 class="card-title">Título do Card</h3>
        <p class="card-text">Texto do card vai aqui. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  }
  @else{
    <div class="container-100 justify-content-between" style="height: 100%" *ngIf="exibeCodigo">
      <div id="card-codigo" class="card">
        <div class="card-content">
          <h3 class="card-title">Codigo</h3>
          <app-code></app-code>
        </div>
      </div>
      <div id="card-display" class="card">
        <div class="card-content">
          <p class="card-text">Texto do card vai aqui. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  }

</div>

