<div class="top-menu">
  <div class="top-menu-container">
    <ul class="menu-items">
      <li class="menu-item"><a class="menu-link" (click)="navegaParaIntrucoes()">Instruções</a></li>
      <li class="menu-item"><a class="menu-link" (click)="navegaParaCodigo()">Codigo</a></li>
    </ul>
  </div>
</div>

<div class="content container-100" style="height: 300px;">

  <div [class.hidden]="!exibeInstrucoes" id="card-instrucao" class="card">
    <div class="card-content">
      <h3 class="card-title">Instruções</h3>
      <p class="card-text">{{exercicio?.enunciado}}</p>
    </div>
  </div>
  <div [class.hidden]="!exibeCodigo" class="container-100 justify-content-between" style="height: 100%">
    <div id="card-codigo" class="card">
      <div class="card-content">
        <h3 class="card-title">Codigo</h3>
        <app-code [exercicio]="exercicio" (resultados)="obterResultados($event)" (exception)="obterException($event)">
        </app-code>
      </div>
    </div>
    <div [class.hidden]="!exibePontuacao" id="card-display" class="card">
      <div class="card-content">
        <p class="card-text">{{percentualPontuacao}}%</p>
      </div>
    </div>
    <div [class.hidden]="!exibeException" id="card-display" class="card">
      <div class="card-content">
        <p class="card-text">{{exception}}</p>
      </div>
    </div>
  </div>
</div>

<div class="container-100 justify-content-between">
  @if(exercicio?.id != 1){
    <button class="button container-100 mr-2 ml-2" (click)="voltarQuestao()">Voltar</button>
  }
  <button class="button container-100 mr-2 ml-2" (click)="proximaQuestao()">Próxima</button>
</div>

